body {
    background-color:#F5F5F5;
    height:100vh;
    justify-content: center;
    flex-wrap: wrap;

  }
  h1{font-family: Georgia;
    display : block;
    font-weight: 900;
    font-size: 1.5em

}

div{
font-family: Georgia;
    display : block;
    font-weight: 900;
    text-align: center; 
    font-size: 2em;
    margin: 40px;
}
span {
    background-color:white;
    display: inline-block;
    position: relative;
    left: 25%;

    margin: 10px;
    height:400px;
    width:250px;

    border: 8px solid white;
    }

span2{
    background-color:white;
    display: block;
    position: absolute;
    top: 20px;
    height:130px;
    width:250px;
    margin: 0px;

    font-family: Georgia;
    font-weight: 900;
}

span3{
    background-color:white;
    display: block;
    position: absolute;
    bottom: 20px;
    height:30px;
    width:250px;
    margin: 0px;

    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}



span:nth-of-type(1){
    background-color: #ff6347;
} 
span:nth-of-type(2){
    background-color: #008080;
} 
span:nth-of-type(3){
    background-color: #DEB887;
} 
span:nth-of-type(4){
    background-color: #d7bfd7;
} 

