.middle-nowPlaying{
    background-color:orange;
    position: fixed;
    top: 800px;
    height: 80px;
    width: 90%;
    z-index: 100;

    border-radius: var(--rad);

    display: flex;

    
    flex-direction: row;

    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content:center; 
    align-items:center;
}

.middle-nowPlaying{

    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content:center; 
    align-items:center;    
}

.middle-nowPlaying__btn{
    background-color: red;
}