body {
    height:100vh;
    background-color: #6BBCBE;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    align-items:center; 
    flex-direction: column; 


  }
.circle {
  margin: 20px;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
}

.square{
  margin: 4px;
  width: 15px;
  height: 50px;
  background-color: white;

  animation: scale-up 500ms ease-in-out forwards infinite, pause 500ms linear 500ms forwards infinite;




}


#bg{
    animation: rotate 500ms ease-in-out infinite;


    justify-content: center;
    text-align: center;
    display: flex;
}
#bg2{

  justify-content: center;
  text-align: center;
  display: flex;
  flex-direction: row; 
}

#sq1{
  animation-delay:100ms;
}
#sq2{
  animation-delay: 200ms;
}
#sq3{
  animation-delay: 300ms;
}
#sq4{
  animation-delay: 400ms;
}
#sq5{
  animation-delay: 500ms;
}


@keyframes rotate{
  from{
      transform: rotate(0);
  }
to{
      transform: rotate(180deg);
  }

}

@keyframes scale-up {
  0% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
  50% {
    transform: scaleY(2);
    transform-origin: 50% 50%;
  }
  100% {
    transform: scaleY(1);
    transform-origin: 50% 50%;
  }
}

@keyframes pause{
  from{
 


  }
  to{

  }
}