.lower-nowPlaying{
    background-color:var(--wild_grey);
    position: fixed;
    bottom: 10px;
    height: 80px;
    width: 90%;
    z-index: 100;

    border-radius: var(--rad);

    display: flex;

    
    flex-direction: row;

    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content:center; 
    align-items:center;
}

.lower-nowPlaying{

    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content:center; 
    align-items:center;    
}


.lower-nowPlaying__text{
    bottom: 70px;
}

.lower-nowPlaying__text h2{
    color:whitesmoke;
}

.lower-nowPlaying__btn{
    width: 130px;
    display: flex;
    justify-content:space-between;
    flex-direction: row;
    align-content:center; 
    align-items:center; 
}

.lower-nowPlaying__btn i{
    color: whitesmoke;
}
