.middle-nowPlaying{
    position: fixed;
    top: 650px;
    width: 90%;

    border-radius: var(--rad);

    display: flex;
    justify-content:space-;
    flex-direction: row;
    align-content:center; 
    align-items:center;
}

.middle-nowPlaying{
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content:center; 
    align-items:center;    

}

.middle-nowPlaying i:nth-child(3){
    background-color: var(--wild_grey);
    width: 80px;
    height: 80px;
    border-radius: 50%;

    padding-left: 3px;
    padding-top: 2px;
    display: flex;
    justify-content:center;
    align-content:center; 
    align-items:center;    
}