.ShufflenHeart{
    position: absolute;
    top: 300px;
    height: 100px;
    width: 90%;

    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content:center; 
    align-items:center;

}

.ShufflenHeart div{
    width: 150px;
    height: 60px;
    background-color: var(--wild_grey);
    border-radius: var(--rad);

    
    display: flex;
    justify-content:space-around;
    flex-direction: row;
    align-content:center; 
    align-items:center;


}

.ShufflenHeart .heart-box{
    background-color:white;
    justify-content:space-evenly;
}